<header class="header">
  <div class="header__menu">
    <img class="header__icon" src="./assets/images/icon-menu.svg" alt="menu" />
    <img class="header__logo" src="./assets/images/logo.svg" alt="logo" />
    <!-- navbar -->
    <nav class="navbar">
      <ul class="navbar__list">
        <li><a class="navbar__list__li" href="#">Collections</a></li>
        <li><a class="navbar__list__li" href="#">Men</a></li>
        <li><a class="navbar__list__li" href="#">Women</a></li>
        <li><a class="navbar__list__li" href="#">About</a></li>
        <li><a class="navbar__list__li" href="#">Contact</a></li>
      </ul>
    </nav>
  </div>

  <!-- modal navbar -->
  <div class="modal">
    <nav class="modal__navbar">
      <div class="modal__navbar__list">
        <img
          class="modal__navbar__list__close"
          src="./assets/images/icon-close.svg"
          alt="close"
        />
        <ul class="modal__navbar__list--li">
          <li><a class="modal__navbar__list__li" href="#">Collections</a></li>
          <li><a class="modal__navbar__list__li" href="#">Men</a></li>
          <li><a class="modal__navbar__list__li" href="#">Women</a></li>
          <li><a class="modal__navbar__list__li" href="#">About</a></li>
          <li><a class="modal__navbar__list__li" href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- final modal navbar -->

  <!-- carro de compra e imagen -->
  <div class="right">
    <div class="right__cart js-icon">
      <div class="right__cart--notification js-numberCart">0</div>
      <img src="./assets/images/icon-cart.svg" alt="cart" />
    </div>
    <img
      class="right__avatar"
      src="./assets/images/image-avatar.png"
      alt="avatar"
    />
  </div>
</header>
