<main class="main">
  <section class="main__gallery">
    <div class="main__gallery__image">
      <img
        class="main__gallery__image--previous"
        src="./assets/images/icon-previous.svg"
        alt="previous"
      />
      <img
        class="main__gallery__image--next"
        src="./assets/images/icon-next.svg"
        alt="next"
      />
    </div>
    <div class="main__gallery__thumbnails">
    <img
      id="1"
      class="main__gallery__thumbnails--img"
      src="./assets/images/image-product-1-thumbnail.jpg"
      alt="thumbnail"
    />
    <img
      id="2"
      class="main__gallery__thumbnails--img"
      src="./assets/images/image-product-2-thumbnail.jpg"
      alt="thumbnail"
    />
    <img
      id="3"
      class="main__gallery__thumbnails--img"
      src="./assets/images/image-product-3-thumbnail.jpg"
      alt="thumbnail"
    />
    <img
      id="4"
      class="main__gallery__thumbnails--img"
      src="./assets/images/image-product-4-thumbnail.jpg"
      alt="thumbnail"
    />
  </div>
  </section>

  <section class="main__details">
    <h3 class="main__details__company">Sneaker Company</h2>
    <h2 class="main__details__title">Fall Limited Edition Sneakers</h2>
    <p class="main__details__description">These low-profile sneakers are your perfect casual wear companion. Featuring a durable rubber outer sole, they’ll withstand everything the weather can offer.</p>
    <div class="main__details__prices">
        <p class="main__details__prices--now">125.00 € <span class="discount">50%</span></p>
        <p class="main__details__prices--before">250.00 €</p>
    </div>    
    <div class="main__details__product">
        <div class="input">
            <img
            class="input__minus js-minus"
            src="./assets/images/icon-minus.svg"
            alt="minus"
            
          />
          <input class="input__number js-number"type="text" value="0">
          <img
            class="input__plus js-plus"
            src="./assets/images/icon-plus.svg"
            alt="plus"
            />
        </div>
            <button class="main__details__button js-cartBtn" ><img src="./assets/images/icon-cart-white.svg"/>Add to cart</button>  
    </div>
  </section>

  <!-- cart modaL -->
  <section class="cart__modal js-modal">
    <p class="cart__modal__p">Cart</p>
    <div class="cart__modal__container js-container">
        <div class="cart__modal__container__details">
            <img class="img"src="./assets/images/image-product-1-thumbnail.jpg" alt="product"/>
          <div class="cart__modal__container__details--div">
              <p class= "cart__modal__container__details--p">Autumn Limited Edition..</p>
              <p class= "cart__modal__container__details--price js-price">125 € x3 <span>375.00 €</span></p>
            </div>
            <img class= "cart__modal__container__details--delete js-delete"src="./assets/images/icon-delete.svg" alt="delete"/>
          </div>
        <button class="cart__modal__container__details--checkout">Checkout</button>
      </div>
      </div>
  </section>

  
<!-- gallery modal -->
<section class="modal__gallery">
 <article class="modal__gallery__section">
    <img class="modal__gallery__section__close" src="./assets/images/icon-close.svg" alt="close"/>
    <div class="modal__gallery__section__div js-image">
      <img
        class="modal__gallery__section__div--previous"
        src="./assets/images/icon-previous.svg"
        alt="previous"
      />
      <img
        class="modal__gallery__section__div--next"
        src="./assets/images/icon-next.svg"
        alt="next"
      />
    </div>
    <div class="modal__gallery__thumbnails">
      <img
      id="1"
      class="modal__gallery__section__div--img"
      src="./assets/images/image-product-1-thumbnail.jpg"
      alt="thumbnail"
     />
     <img
      id="2"
      class="modal__gallery__section__div--img"
      src="./assets/images/image-product-2-thumbnail.jpg"
      alt="thumbnail"
     />
     <img
      id="3"
      class="modal__gallery__section__div--img"
      src="./assets/images/image-product-3-thumbnail.jpg"
      alt="thumbnail"
     />
     <img
      id="4"
      class="modal__gallery__section__div--img"
      src="./assets/images/image-product-4-thumbnail.jpg"
      alt="thumbnail"
    />
  </div>
 </article>
</section>
</main>
