body {
  font-family: $font-main;
}
.body {
  max-width: 320px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 768px) {
  .page {
    max-width: 1200px;
  }
}
@media (min-width: 1200px) {
  .page {
    max-width: 1200px;
  }
}
