body {
  font-family: $font-main;
}

.body {
  margin: 0 auto;
  position: relative;
}

.show {
  display: block;
}

.empty {
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
  color: $Black-modal;
}
