.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding: 0 20px;
  width: 100vw;
  &__menu {
    width: 175px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__icon {
    cursor: pointer;
  }
}
.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  &__cart {
    position: relative;
    cursor: pointer;
    &--notification {
      // display: none;
      background-color: $Orange;
      border-radius: 16px;
      width: 15px;
      color: $White;
      position: absolute;
      top: -2px;
      right: -5px;
      font-size: 0.6em;
      text-align: center;
    }
  }
  &__avatar {
    width: 24px;
    &:hover {
      cursor: pointer;
      border: 2px solid $Orange;
      border-radius: 50%;
    }
  }
}
.navbar {
  display: none;
  // border: 1px solid green;
  width: 400px;
  &__list {
    display: flex;
    justify-content: space-between;
    &__li {
      color: $Dark-grayish-blue;
      display: block;
      height: 113px;
      padding-top: 48px;
      &:hover {
        border-bottom: 4px solid $Orange;
      }
    }
  }
}

.modal {
  display: none;
  &__navbar {
    background-color: $Black-modal;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    &__list {
      background-color: white;
      width: 200px;
      height: 100%;
      padding: 28px 24px;
      &__close {
        cursor: pointer;
      }
      &__li {
        color: $Very-dark-blue;
      }
      &--li {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        font-weight: 700;
        font-size: 1.1em;
      }
    }
  }
}
@media (min-width: 768px) {
  .header {
    height: 112px;
    border-bottom: 1px solid $Grayish-blue;
    &__menu {
      width: 590px;
    }
    &__icon {
      display: none;
    }
  }
  .right {
    width: 125px;
    &__cart {
    }
    &__avatar {
      width: 48px;
    }
  }
  .navbar {
    display: block;
  }
}

@media (min-width: 1200px) {
}
