.main {
  &__gallery {
    &__image {
      background-image: url(../images/image-product-1.jpg);
      background-size: cover;
      background-position-y: -30px;
      height: 260px;
      width: 100%;
      &:hover {
        cursor: pointer;
      }
      &--previous {
        background-color: $White;
        width: 40px;
        height: 40px;
        padding: 12px;
        border-radius: 50%;
        position: absolute;
        top: 170px;
        left: 15px;
        cursor: pointer;
      }
      &--next {
        background-color: $White;
        width: 40px;
        height: 40px;
        padding: 12px;
        border-radius: 50%;
        position: absolute;
        top: 170px;
        right: 5px;
        cursor: pointer;
      }
    }
    &__thumbnails {
      display: none;
      &--img {
      }
    }
  }
}

@media (min-width: 768px) {
  .main {
    padding: 60px;
    display: flex;

    &__gallery {
      &__image {
        border-radius: 16px;
        width: 446px;
        height: 446px;
        background-position-y: 0;
        &--previous {
          display: none;
        }
        &--next {
          display: none;
        }
      }
      &__thumbnails {
        margin-top: 33px;
        display: flex;
        justify-content: space-between;
        &--img {
          width: 90px;
          border-radius: 16px;
          &:hover {
            cursor: pointer;
            border: 2px solid $Orange;
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .main {
    gap: 100px;
  }
  &__gallery {
  }
}
